<h1 class="display-3 m-3">Edit Task</h1>

<div class="form-group m-5">
<%= form_for(@task) do |f| %>
  <%= f.label :Title, class:"font-italic display-4" %>
  <br>
  <%= f.text_field :title, class:"form-control"%>
  <br><br>
  <%= f.label :Details, class:"font-italic display-4"%>
  <br>
  <%= f.text_field :details, class:"form-control" %>
  <br><br>
  <%= f.label :Status, class:"font-italic display-4"%>
  &nbsp;&nbsp;
  <%= f.check_box :completed%>
  <br><br>
  <%= f.submit "Update Task", class:"btn btn-success m-2 p-3"%>
  <%= link_to "Back", tasks_path, class:"btn btn-warning m-2 p-3" %>
<% end %>
</div>