<h1 class="display-3 m-3"><%= @task.title %></h1>

<p class="font-italic m-5 display-4"><%= @task.details %> </p>

<div class="font-italic m-5 display-4"> 
    <% if @task.completed %>
    Status: Completed Successfully.✅
    <% else %>
    Status: This Task has not been completed yet.🟩
    <% end %>
</div>

<%= link_to "Edit the Task", edit_task_path, class:"btn btn-secondary m-2 p-3" %> 


<%= link_to "Delete", destroy_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger m-2 p-3" %>


<%= link_to "Back", tasks_path, class:"btn btn-warning m-2 p-3" %>

